/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
  }


/* Clear floats after the first row of columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
